.avatar{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-right: 150px;
  }
  
  .no-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #bababa;
    display: flex;
    justify-content: center;
    align-items: center;
  }