<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>

<ion-content [fullscreen]="true">
  <div class="avatar">
    <ion-avatar (click)="uploadAvatar()">
      <img *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl">
      <ng-template #placeholder_avatar>
        <div class="no-avatar">
          <ion-icon name="person-outline"></ion-icon>
          
        </div>
      </ng-template>
    </ion-avatar>
  </div>
  <div>
    <ion-card *ngFor="let usuario of usuario" (click)="openDetailUsuario(usuario)">
      <ion-card-title>{{usuario.name}} </ion-card-title>
      <ion-card-title>{{usuario.lastname}}</ion-card-title>
      
    </ion-card >
    <ion-fab class="padding" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="success" (click)="addUsuario()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </div>
  
    
  
  

</ion-content>
    
    
